@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
    font-family: 'Lobster', cursive;
    background-image: url("../SpaceShipImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(132, 0, 255, 0.534) calc(10% - 10px),  transparent calc(50% + 30px), rgba(21, 21, 172, 0.384) calc(80% + 160px)),url( ../SpaceShipImage.jpg) no-repeat top center;
}

p{
    font-size: 35px;
    margin-top: 21px;
    margin-bottom: 21px;
    color: #6439ff;
}



input {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(166, 120, 212, 0.678);
    color: #6743eb;
    font-size: 22px;
    border: none;
    padding-left: 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
}

select{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #6743eb;
    background-color: rgba(166, 120, 212, 0.678);
    border: none;
}

#Age{
    height: 28px;
    width: 80px;

}

#Contry{
    height: 28px;
    width: 110px;
}

#Categories{
    height: 28px;
    width: 110px;
}

